!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Localize"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .wrapper
      %header
        %nav.nav-pills
          %ul
            %li= link_to t('.posts'), root_path
            - if user_signed_in?
              %li= link_to t('.profile'), edit_user_registration_path
              %li= link_to t('.sign_out'), destroy_user_session_path, method: :delete
            - else
              %li= link_to t('.sign_in'), new_user_session_path
      .content
        = yield